html, body {
    min-height: 100%;
  }
  body {
    cursor: url('/static/images/cursor.png'), auto;
    background: #f6f6f6 url(https://goo.gl/1yhE3P) top center no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
  }

  #box {
    width: 400px;
    margin: 10% auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px 50px;
    box-sizing: border-box;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
  }
  h1 {
    margin-bottom: 1.5em;
    font-size: 30px;
    color: #484548;
    font-weight: 100;
  }
  h1 span, small {
    display: block;
    font-size: 14px;
    color: #989598;
  }
  small {
    font-style: italic;
    font-size: 11px;
  }
  form p {
    position: relative;
  }
  .password {
    width: 90%;
    padding: 15px 12px;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
    border-bottom: 2px solid #ddd;
    background: rgba(255, 255, 255, 0.2) !important;
    color: #555;
  }
  .password + .unmask {
    position: absolute;
    right: 5%;
    top: 10px;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-family: 'fontawesome';
    font-size: 14px;
    line-height: 24px;
    appearance: none;
    outline: none;
  }
  #valid {
    font-size: 12px;
    color: #daa;
    height: 15px;
  }
  button[type="submit"] {
    margin-bottom: 10px;
    background-color: #4CAF50; /* Green button */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px; /* Space between buttons */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  button[type="submit"]:hover {
    background-color: #45a049; /* Slightly darker green on hover */
  }