.form-gap {
    padding-top: 70px;
}

.no-caret {
    user-select: none; /* Prevents text selection */
    pointer-events: none; /* Prevents mouse interactions */
}

    /* Inline style to change the link color to black */
    .black-link {
        color: black;
        text-decoration: none; /* Optional: removes underline */
      }
      .black-link:hover {
        color: #333; /* Optional: slightly darker shade on hover */
      }
  


.action-btn {
    margin-bottom: 10px;
    background-color: #4CAF50; /* Green button */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px; /* Space between buttons */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.action-btn:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

