@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: #67AD5B !important;
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 0 1rem;
    background-color: #222222;
    z-index: var(--z-fixed);
    transition: .5s;
}

#header-toggle {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    top: 2px;
}

#header-toggle:hover{
    color: #ffbf00;
}

#uname{
    color: white;
    display: flex;
    float: right;
    margin-top: -25px;
}


#role{
    color: white;
    display: flex;
    float: right;
    margin-top: -40px;
}

.logo{
   font-size: 10px;
    display: flex;
}

h2{
    color: #ffbf00;
    display: flex;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: #282828;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    top: 5%;
}

.nav_logo{
    margin-top: -2.8%;
}


.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -12px;
    margin-top: 10px;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo {
    margin-bottom: 2.5rem
}

.nav_logo-icon {
    font-size: 25px;
    color: var(--white-color);
    margin-left: -3px;
}

.nav_info{
    background-color: #3e3e3e;
}

.logo{
    width: 150px;
    float: right;
}

.nav_link {
    position: relative;
    margin-bottom: 1rem;
    transition: .3s;
    text-align: center;
    color:white;
}

.nav_link:hover {
    color: #ffbf00;
}

.nav_icon {
    font-size: 35px !important;
    margin-left: -8px;
}

.nav_name{
    font-size: 18px;
    margin-left: 5px;
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: #ffbf00;
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: #ffbf00;
}




@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 0.2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}